# Untracked everything by default
/*

# Explicitly allow files
!LICENSE
!README.md
!.gitignore

# Allow source files and folders
!source/
!source/api/
!source/api/**
!source/app/
!source/app/**
!source/driver/
!source/driver/**
!source/libs/
!source/libs/**
!source/utility/
!source/utility/**
!source/utility/led_animation/
!source/utility/led_animation/**

# Allow example files
!Application/
!Application/**
!Application/Config/
!Application/Config/**
!ThirdParty/
!ThirdParty/**
!.cproject
!.mxproject
!.project
!pdf_test.ioc
!STM32F411RETX_FLASH.ld
!STM32F411RETX_RAM.ld
